*{
    margin:0px;
    padding: 0px;
}

body{
    text-align: center;
    font-family:sans-serif;
}

.btn{
    width: 125px;
    height: 125px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 20px 10px 20px 10px;
}

.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.flash{
    background-color: white;
}
